.slide {
  @include slideGrid;
  grid-template-columns: 20% 15% 25% 20% 20%;

  .image1,
  .image2,
  .image3,
  .image4,
  .image5 {
    &:hover {
      transform: scale(1.05);
      transition: 0.2s ease-in-out;
    }
  }

  .image1 {
    height: 100%;
    background: url(../../img/recent01.png) top/cover;
  }

  .image2 {
    height: 100%;
    background: url(../../img/recent02.png) center/cover;
  }

  .image3 {
    height: 100%;
    background: url(../../img/recent03.png) top/cover;
  }

  .image4 {
    height: 100%;
    background: url(../../img/recent04.png) top/cover;
  }

  .image5 {
    height: 100%;
    background: url(../../img/recent1.png) top/cover;
  }
}