@font-face {
  font-family: "AnekKannada";
  src: url(../fonts/AnekKannada-Light.ttf);
}

@font-face {
  font-family: "AnekKannada-Bold";
  src: url(../fonts/AnekKannada-Bold.ttf);
}

$font1: AnekKannada-Bold;
$font2: AnekKannada;
$red : #FC0000;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: anekKannada, sans-serif;
  height: 100vh;
  overflow: hidden;
}

@mixin pageDisplay {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 30% 60% 10%;

  @media screen and(max-width: 768px) {
    grid-template-rows: 28% 1fr 18%;
  }
}

@mixin slideGrid {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}