@font-face {
  font-family: "AnekKannada";
  src: url(../fonts/AnekKannada-Light.ttf);
}

@font-face {
  font-family: "AnekKannada-Bold";
  src: url(../fonts/AnekKannada-Bold.ttf);
}

$font1: AnekKannada-Bold;
$font2: AnekKannada;
$red : #FC0000;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

body {
  font-family: anekKannada, sans-serif;
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}